# fly.toml app configuration file for enablerdao.com
# See https://fly.io/docs/reference/configuration/

app = 'enablerdao'
primary_region = 'nrt'

[build]

[env]
  NODE_ENV = "production"
  PORT = "3000"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20

  [[http_service.checks]]
    interval = "10s"
    timeout = "5s"
    grace_period = "30s"
    method = "GET"
    path = "/"

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
